body {
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  min-width: 940px;
  font-family: 'Lato';
}
.center {
  display: table;
  margin: 0 auto;
}
.left-block, .right-block {
  display: inline-block;
  width: 45%;
  vertical-align: text-top;
}
.round {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.line {
  margin-left: 10%;
  margin-right: 10%;
}
.title {
  font-family: 'Pacifico', cursive;
  font-size: 40px 35px;
}

/*  HEADER  */
#header {
  background: url('/style/images/nyc-skyline.jpg') no-repeat;
  background-size: 100%;
  box-shadow: inset 0 -50px 50px -10px #F5F5F5;
  padding-top: 5%;
  .name {
    padding-bottom: 4%;
    font-size: 40px;
    font-family: 'Pacifico', cursive, sans-serif;
  }
  nav {
    width: 60%;
  }
  .dashboard-tabs > div {
    background-color: #333 !important;
  }
  .profile {
    padding-top: 4%;
    .avatar {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      box-shadow: 0 0 50px #FED27C;
    }
  }
}

/*  ABOUT  */
#social-media {
  width: 100%;
  width: 290px;
  margin: 3% auto;
  a {
    margin: 10px;
    padding: 15px 10px;
    color: grey;
    border: .5px solid grey;
    background-color: #F5F5F5;
    border-radius: 50%;
  }
  a:hover {
    color: black;
    background-color: white;
    border: .5px solid #F5F5F5;
    box-shadow: 2px 2px 6px grey;
  }
}
.comment {
  display: inline-block;
  text-align: center;
  div {
    vertical-align: text-top;
    display: inline-block;
    word-wrap: break-word;
    width: 20%;
    padding: 40px;
  }
  h2 {
    text-align: center;
  }
  h4 {
    text-align: justify;
  }
}

/*  PORTFOLIO  */
.grid {
  height: 100vh;
}

/*  CONTACT  */
#contact-info {
  height: 100vh;
}
#contact-input {
  width: 80%;
  form {
    width: 50%;
    margin: 0 0 0 auto;
  }
}
