body {
  background: #F5F5F5 url('/style/images/nyc-skyline.jpg') no-repeat;
  background-size: 100%;
  margin: 0;
  padding: 0;
}

.header {
  margin-top: 5%;
  .name {
    margin-bottom: 4%;
    font-size: 36px;
    font-family: sans-serif;
  }
  .profile {
    margin-top: 4%;
    .avatar {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      box-shadow: 0 0 50px #FED27C;
      // border: 1px solid black;
    }
  }
}

.center {
  display: table;
  margin: 0 auto;
}

.dashboard-tabs > div{
    background-color: #333 !important;
}
