body {
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
}

.header {
  background: url('/style/images/nyc-skyline.jpg') no-repeat;
  background-size: 100%;
  min-width: 800px;
  box-shadow: inset 0 -50px 50px -10px #F5F5F5;
  padding-top: 5%;
  .name {
    padding-bottom: 4%;
    font-size: 36px;
    font-family: sans-serif;
  }
  nav {
    width: 60%;
  }
  .profile {
    padding-top: 4%;
    .avatar {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      box-shadow: 0 0 50px #FED27C;
      // border: 1px solid black;
    }
  }
}

.center {
  display: table;
  margin: 0 auto;
}

.dashboard-tabs > div{
  background-color: #333 !important;
}
